{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Коллективный блог</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body>
    <header class="header">
            <img src="{% static 'images/dpb-logo.png' %}?v=2" alt="Логотип" class="logo" id="main-logo">
        <div class="header">

        </div>


        <div class="header-auth-links">
            {% if user.is_authenticated %}
                <a href="{% url 'articles:create_post' %}">Новая статья</a>
                <a href="{% url 'articles:logout' %}">Выйти ({{ user.username }})</a>
            {% else %}
                <a href="{% url 'articles:login' %}">Вход</a>
                <a href="{% url 'articles:register' %}">Регистрация</a>
            {% endif %}
        </div>
    </header>

    <main class="archive-content">
        <h1>Коллективный блог</h1>

        {% for post in posts %}

            <div class="one-post" id="post-{{ post.id }}">
                <div class="one-post-shadow"></div>

                <h2 class="post-title">
                    <a href="{% url 'articles:get_article' post.id %}">{{ post.title }}</a>
                </h2>

                <div class="article-info">

                    <span class="article-author">{{ post.author.username }}</span>
                    <span class="article-created-date">{{ post.created_date }}</span>
                </div>

                <p class="article-text">{{ post.get_excerpt }}</p>


                <span class="fold-button">свернуть</span>
            </div>
        {% empty %}
            <p>Статей пока нет.</p>
        {% endfor %}
    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/helloworld.js' %}"></script>
    <script src="{% static 'js/fold-post.js' %}"></script>
    <script src="{% static 'js/highlight-post.js' %}"></script>
</body>
</html>